[submodule "src/MOM6"]
	path = src/MOM6
	url = https://github.com/NOAA-GFDL/MOM6.git
[submodule "src/coupler"]
	path = src/coupler
	url = https://github.com/NOAA-GFDL/coupler.git
[submodule "src/shared"]
	path = src/shared
	url = https://github.com/NOAA-GFDL/FMS.git
[submodule "src/atmos_cubed_sphere"]
	path = src/atmos_cubed_sphere
	url = https://github.com/thomas-robinson/GFDL_atmos_cubed_sphere.git
[submodule "src/atmos_phys"]
	path = src/atmos_phys
	url = https://github.com/NOAA-GFDL/atmos_phys.git
[submodule "src/land_lad2"]
	path = src/land_lad2
	url = https://github.com/NOAA-GFDL/lm4.git
	branch = land_lad2
[submodule "src/ocean_shared"]
	path = src/ocean_shared
	url = https://github.com/NOAA-GFDL/ocean_BGC.git
[submodule "src/atmos_drivers"]
	path = src/atmos_drivers
	url = https://github.com/NOAA-GFDL/atmos_drivers.git
	branch = master
[submodule "src/GFDL_atmos_cubed_sphere"]
	path = src/GFDL_atmos_cubed_sphere
	url = https://github.com/thomas-robinson/GFDL_atmos_cubed_sphere.git
[submodule "src/FMS"]
	path = src/FMS
	url = https://github.com/thomas-robinson/FMS.git
[submodule "src/FMScoupler"]
	path = src/FMScoupler
	url = https://github.com/NOAA-GFDL/FMScoupler.git
[submodule "src/ice_param"]
	path = src/ice_param
	url = https://github.com/NOAA-GFDL/ice_param.git
[submodule "src/land_null"]
	path = src/land_null
	url = https://github.com/NOAA-GFDL/land_null.git
