[submodule "src/MOM6"]
	path = src/MOM6
	url = https://github.com/NOAA-GFDL/MOM6.git
[submodule "src/coupler"]
	path = src/coupler
	url = https://github.com/NOAA-GFDL/coupler.git
[submodule "src/shared"]
	path = src/shared
	url = https://github.com/NOAA-GFDL/FMS.git
[submodule "src/atmos_cubed_sphere"]
	path = src/atmos_cubed_sphere
	url = https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere.git
[submodule "src/atmos_phys"]
	path = src/atmos_phys
	url = https://github.com/NOAA-GFDL/atmos_phys.git
[submodule "src/land_lad2"]
	path = src/land_lad2
	url = https://github.com/NOAA-GFDL/lm4.git
	branch = land_lad2
[submodule "src/ocean_shared"]
	path = src/ocean_shared
	url = https://github.com/NOAA-GFDL/ocean_BGC.git
